@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;  
}

.section h2 {
  text-align: left;
  margin: 20px;
  font-size: 24px;
  color: rgb(254, 254, 254);
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-wrap: nowrap;  
  margin-bottom: 24px;
  margin-right: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 10px;
  color: rgba(188, 191, 194, 1);
}

.card p {
  font-size: 24px;
  margin: 0;
}

.charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-row {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chart-container {
  background: rgba(0, 0, 0, 0.1);  
  backdrop-filter: blur(10px);  
  width: 100%;
  max-width: 48%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  margin-right: 24px;
}

.chart-container:hover {
  transform: translateY(-5px);
}

.chart-container h3 {
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 1800px) {
  .chart-row {
    flex-direction: row;
  }
  .chart-container {
    max-width: 48%;
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .chart-row {
    flex-direction: column;
  }
  .chart-container {
    max-width: 100%;
  }
}


.filter-box {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1113px;
  min-width: 1350px;
  max-width: 1800px;
}

.menu-box {
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
 flex-direction: column;
 margin-left: 140px;

}

.menu-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title-dashboard {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin: 0;
  padding-right: 20px;
  white-space: nowrap;
}

.links-box {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding-right: 70px;
}
