.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.filter-container {
    z-index: 999;
    position: relative;
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 8px;
    color: #e2e8f0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
    
    
}
.filter-icon {
  color: #05ffd5;
}

.filter-button:hover,
.filter-button:focus {    
    color: #05ffd5;
    outline: none;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.filter-button.active {
    color: #05ffd5;
}

.filter-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #05ffd5d3;
    border-radius: 8px;
    padding: 10px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    display: none;
}

.filter-dropdown.open {
    display: block;
}

.filter-dropdown button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    background: none;
    border: none;
    color: #e2e8f0;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.filter-dropdown button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
